@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'azonix';
  src: url('../app/assets/fonts/azonix.otf') format('opentype');
}
@font-face {
  font-family: 'artemis';
  src: url('../app/assets/fonts/artemis.ttf') format('truetype');
}
@font-face {
  font-family: 'elektra';
  src: url('../app/assets/fonts/elektra.ttf') format('truetype');
}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
font-family: azonix;
}


.medusa{
  filter: drop-shadow(8px 8px 10px rgba(255, 255, 255, 0.5));
  transition: filter 1s ease-in-out; 
  cursor: pointer;
}

.medusa:hover{
  filter: drop-shadow(8px 8px 20px rgba(255, 255, 255, 1));

}

.my-atropos {
  width: 700px;
  height: 800px;
  display:flex;
  justify-content: center;

}

.atropos-scale{
  width: 1000px !important;
}


article{
  position: relative ;
  width: 250px;
  transition: all .3s ease;
}

article img:first-child{
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

article img:last-child{
  position:absolute;
width: 180px;

  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;

}

article:hover{
  transform: perspective(250px) rotateX(10deg)
  translateY(-5%) translateZ(0)
}

article::before{
  content:"";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: 
  linear-gradient(to bottom,
   transparent 10%, 
   rgba(0,0,0,0.5), 
   rgba(0,0,0) 95%
   );
   opacity: 0;
   transition: all .3s ease;
}

article:hover::before{
  opacity: 1;
}

article:hover img:last-child{
  opacity: 1;
  transform:  translateY(0%) ;
}


.card{
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 1));
}